{% load static %}
<!DOCTYPE html>
<html lang="en" style="background-color: #2b3d50 !important">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />

        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <script src="https://d3js.org/d3-path.v1.min.js"></script>
        <script src="https://d3js.org/d3-shape.v1.min.js"></script>
        <script src="https://d3js.org/d3.v5.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/mathjs/5.9.0/math.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/104/three.js"></script>
        <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

        <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=Ubuntu+Mono" rel="stylesheet" />
        <link
            rel="stylesheet"
            href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
            integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
            crossorigin="anonymous"
        />
        <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" />

        <link href="{% static '/base/css/newUIstyle_light.css' %}" rel="stylesheet" />
        <link href="{% static '/base/css/jsonview.css' %}" rel="stylesheet" />

        <script src="{% static '/base/js/lib/codemirror.js' %}"></script>
        <link rel="stylesheet" href="{% static '/base/js/lib/codemirror.css' %}" />
        <script src="{% static '/base/js/python/python.js' %}"></script>

        <link rel="stylesheet" href="{% static '/base/css/theme/3024-day.css' %}" />
        <link rel="stylesheet" href="{% static '/base/css/theme/3024-night.css' %}" />
        <link rel="stylesheet" href="{% static '/base/css/theme/abcdef.css' %}" />
        <link rel="stylesheet" href="{% static '/base/css/theme/ambiance.css' %}" />
        <link rel="stylesheet" href="{% static '/base/css/theme/base16-dark.css' %}" />
        <link rel="stylesheet" href="{% static '/base/css/theme/bespin.css' %}" />
        <link rel="stylesheet" href="{% static '/base/css/theme/base16-light.css' %}" />
        <link rel="stylesheet" href="{% static '/base/css/theme/blackboard.css' %}" />
        <link rel="stylesheet" href="{% static '/base/css/theme/cobalt.css' %}" />
        <link rel="stylesheet" href="{% static '/base/css/theme/colorforth.css' %}" />
        <link rel="stylesheet" href="{% static '/base/css/theme/dracula.css' %}" />
        <link rel="stylesheet" href="{% static '/base/css/theme/duotone-dark.css' %}" />
        <link rel="stylesheet" href="{% static '/base/css/theme/duotone-light.css' %}" />
        <link rel="stylesheet" href="{% static '/base/css/theme/eclipse.css' %}" />
        <link rel="stylesheet" href="{% static '/base/css/theme/elegant.css' %}" />
        <link rel="stylesheet" href="{% static '/base/css/theme/erlang-dark.css' %}" />
        <link rel="stylesheet" href="{% static '/base/css/theme/gruvbox-dark.css' %}" />
        <link rel="stylesheet" href="{% static '/base/css/theme/hopscotch.css' %}" />
        <link rel="stylesheet" href="{% static '/base/css/theme/icecoder.css' %}" />
        <link rel="stylesheet" href="{% static '/base/css/theme/isotope.css' %}" />
        <link rel="stylesheet" href="{% static '/base/css/theme/lesser-dark.css' %}" />
        <link rel="stylesheet" href="{% static '/base/css/theme/liquibyte.css' %}" />
        <link rel="stylesheet" href="{% static '/base/css/theme/lucario.css' %}" />
        <link rel="stylesheet" href="{% static '/base/css/theme/material.css' %}" />
        <link rel="stylesheet" href="{% static '/base/css/theme/material-darker.css' %}" />
        <link rel="stylesheet" href="{% static '/base/css/theme/material-palenight.css' %}" />
        <link rel="stylesheet" href="{% static '/base/css/theme/material-ocean.css' %}" />
        <link rel="stylesheet" href="{% static '/base/css/theme/mbo.css' %}" />
        <link rel="stylesheet" href="{% static '/base/css/theme/mdn-like.css' %}" />
        <link rel="stylesheet" href="{% static '/base/css/theme/midnight.css' %}" />
        <link rel="stylesheet" href="{% static '/base/css/theme/monokai.css' %}" />
        <link rel="stylesheet" href="{% static '/base/css/theme/moxer.css' %}" />
        <link rel="stylesheet" href="{% static '/base/css/theme/neat.css' %}" />
        <link rel="stylesheet" href="{% static '/base/css/theme/neo.css' %}" />
        <link rel="stylesheet" href="{% static '/base/css/theme/night.css' %}" />
        <link rel="stylesheet" href="{% static '/base/css/theme/nord.css' %}" />
        <link rel="stylesheet" href="{% static '/base/css/theme/oceanic-next.css' %}" />
        <link rel="stylesheet" href="{% static '/base/css/theme/panda-syntax.css' %}" />
        <link rel="stylesheet" href="{% static '/base/css/theme/paraiso-dark.css' %}" />
        <link rel="stylesheet" href="{% static '/base/css/theme/paraiso-light.css' %}" />
        <link rel="stylesheet" href="{% static '/base/css/theme/pastel-on-dark.css' %}" />
        <link rel="stylesheet" href="{% static '/base/css/theme/railscasts.css' %}" />
        <link rel="stylesheet" href="{% static '/base/css/theme/rubyblue.css' %}" />
        <link rel="stylesheet" href="{% static '/base/css/theme/seti.css' %}" />
        <link rel="stylesheet" href="{% static '/base/css/theme/shadowfox.css' %}" />
        <link rel="stylesheet" href="{% static '/base/css/theme/solarized.css' %}" />
        <link rel="stylesheet" href="{% static '/base/css/theme/the-matrix.css' %}" />
        <link rel="stylesheet" href="{% static '/base/css/theme/tomorrow-night-bright.css' %}" />
        <link rel="stylesheet" href="{% static '/base/css/theme/tomorrow-night-eighties.css' %}" />
        <link rel="stylesheet" href="{% static '/base/css/theme/ttcn.css' %}" />
        <link rel="stylesheet" href="{% static '/base/css/theme/twilight.css' %}" />
        <link rel="stylesheet" href="{% static '/base/css/theme/vibrant-ink.css' %}" />
        <link rel="stylesheet" href="{% static '/base/css/theme/xq-dark.css' %}" />
        <link rel="stylesheet" href="{% static '/base/css/theme/xq-light.css' %}" />
        <link rel="stylesheet" href="{% static '/base/css/theme/yeti.css' %}" />
        <link rel="stylesheet" href="{% static '/base/css/theme/idea.css' %}" />
        <link rel="stylesheet" href="{% static '/base/css/theme/darcula.css' %}" />
        <link rel="stylesheet" href="{% static '/base/css/theme/yonce.css' %}" />
        <link rel="stylesheet" href="{% static '/base/css/theme/zenburn.css' %}" />

        <script src="{% static '/base/js/selection/active-line.js' %}"></script>
        <script src="{% static '/base/js/edit/matchbrackets.js' %}"></script>

        <script>
            function getCookie(name) {
                var cookieValue = null;
                if (document.cookie && document.cookie != '') {
                    var cookies = document.cookie.split(';');
                    for (var i = 0; i < cookies.length; i++) {
                        var cookie = jQuery.trim(cookies[i]);
                        // Does this cookie string begin with the name we want?
                        if (cookie.substring(0, name.length + 1) == name + '=') {
                            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                            break;
                        }
                    }
                }
                return cookieValue;
            }

            $.ajaxSetup({
                beforeSend: function (xhr, settings) {
                    if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
                        // Only send the token to relative URLs i.e. locally.
                        xhr.setRequestHeader('X-CSRFToken', getCookie('csrftoken'));
                    }
                }
            });
        </script>

        {% csrf_token %}

        <style type="text/css"></style>
        <title>{{ def.definition_name }}</title>
    </head>

    <body>
        <div class="canvas_container">
            <div class="canvas_container_inner">
                <div class="canvas_tab_container">
                    <div class="toolbarTopToggleItem">
                        <div
                            class="toptoggleitem selected"
                            onclick="displayCanvasBody('canvas_body_container')"
                        >
                            Canvas
                        </div>
                    </div>

                    <div class="toolbarTopToggleItem">
                        <div
                            class="toptoggleitem"
                            onclick="displayCanvasBody('dashboard_body_container')"
                        >
                            Dashboard
                        </div>
                    </div>

                    <div class="toolbarTopToggleItem">
                        <div
                            class="toptoggleitem"
                            onclick="displayCanvasBody('notebook_body_container')"
                        >
                            Notebook
                        </div>
                    </div>

                    <div class="toolbarTopToggleItem">
                        <div
                            class="toptoggleitem"
                            onclick="displayCanvasBody('script_body_container')"
                        >
                            Script
                        </div>
                    </div>

                    <div class="toolbarTopToggleItem">
                        <div class="toptoggleitem" onclick="displayCanvasBody('3d_body_container')">
                            3D View
                        </div>
                    </div>
                </div>
                <div class="main_canvas_container canvas_body_container">
                    <div class="ui-designer-grid" id="mainGrid">
                        <svg height="10000" width="10000">
                            <defs>
                                <filter
                                    id="f2"
                                    x="-40"
                                    y="-40"
                                    width="150%"
                                    height="150%"
                                    filterUnits="userSpaceOnUse"
                                >
                                    <feOffset result="offOut" in="SourceGraphics" dx="0" dy="0" />
                                    <feGaussianBlur result="blurOut" in="offOut" stdDeviation="1" />
                                    <feBlend in="SourceGraphic" in2="blurOut" mode="normal" />
                                </filter>
                                <pattern
                                    id="img122"
                                    patternUnits="userSpaceOnUse"
                                    width="500"
                                    height="500"
                                >
                                    <image
                                        x="0"
                                        y="0"
                                        width="500"
                                        height="500"
                                        xlink:href="{% static '/base/img/grid2.png' %}"
                                    />
                                </pattern>
                                <defs>
                                    <linearGradient
                                        id="grad1ient"
                                        x1="0%"
                                        y1="0%"
                                        x2="0%"
                                        y2="100%"
                                    >
                                        <stop
                                            offset="0%"
                                            style="stop-color: #dddddd; stop-opacity: 1"
                                        />
                                        <stop
                                            offset="50%"
                                            style="stop-color: #eeeeee; stop-opacity: 1"
                                        />
                                        <stop
                                            offset="100%"
                                            style="stop-color: #dddddd; stop-opacity: 1"
                                        />
                                    </linearGradient>
                                </defs>
                                <defs>
                                    <linearGradient
                                        id="fileUploadGradient"
                                        x1="0%"
                                        y1="0%"
                                        x2="0%"
                                        y2="100%"
                                    >
                                        <stop
                                            offset="0%"
                                            style="stop-color: #344b62; stop-opacity: 1"
                                        />
                                        <stop
                                            offset="10%"
                                            style="stop-color: #344b62; stop-opacity: 1"
                                        />
                                        <stop
                                            offset="12%"
                                            style="stop-color: #2b3d50; stop-opacity: 1"
                                        />
                                        <stop
                                            offset="88%"
                                            style="stop-color: #2b3d50; stop-opacity: 1"
                                        />
                                        <stop
                                            offset="90%"
                                            style="stop-color: #23364a; stop-opacity: 1"
                                        />
                                        <stop
                                            offset="100%"
                                            style="stop-color: #23364a; stop-opacity: 1"
                                        />
                                    </linearGradient>
                                </defs>
                                <defs>
                                    <linearGradient
                                        id="gradientlsider"
                                        x1="0%"
                                        y1="0%"
                                        x2="0%"
                                        y2="100%"
                                    >
                                        <stop
                                            offset="0%"
                                            style="stop-color: #eeeeee; stop-opacity: 1"
                                        />
                                        <stop
                                            offset="20%"
                                            style="stop-color: #eeeeee; stop-opacity: 1"
                                        />
                                        <stop
                                            offset="30%"
                                            style="stop-color: #dddddd; stop-opacity: 1"
                                        />
                                        <stop
                                            offset="70%"
                                            style="stop-color: #dddddd; stop-opacity: 1"
                                        />
                                        <stop
                                            offset="80%"
                                            style="stop-color: #cccccc; stop-opacity: 1"
                                        />
                                        <stop
                                            offset="100%"
                                            style="stop-color: #cccccc; stop-opacity: 1"
                                        />
                                    </linearGradient>
                                </defs>

                                <defs>
                                    <linearGradient
                                        id="gradient2"
                                        x1="0%"
                                        y1="0%"
                                        x2="0%"
                                        y2="100%"
                                    >
                                        <stop
                                            offset="0%"
                                            style="stop-color: #ffffff; stop-opacity: 1"
                                        />
                                        <stop
                                            offset="10%"
                                            style="stop-color: #ffffff; stop-opacity: 1"
                                        />
                                        <stop
                                            offset="30%"
                                            style="stop-color: #ffffff; stop-opacity: 0.6"
                                        />
                                        <stop
                                            offset="80%"
                                            style="stop-color: #ffffff; stop-opacity: 0.6"
                                        />
                                    </linearGradient>
                                </defs>

                                <defs>
                                    <linearGradient
                                        id="gradient2_2"
                                        x1="0%"
                                        y1="0%"
                                        x2="0%"
                                        y2="100%"
                                    >
                                        <stop
                                            offset="0%"
                                            style="stop-color: #ffffff; stop-opacity: 1"
                                        />
                                        <stop
                                            offset="50%"
                                            style="stop-color: #ffffff; stop-opacity: 0"
                                        />
                                        <stop
                                            offset="70%"
                                            style="stop-color: #ffffff; stop-opacity: 0"
                                        />
                                        <stop
                                            offset="100%"
                                            style="stop-color: #ffffff; stop-opacity: 0.3"
                                        />
                                    </linearGradient>
                                </defs>

                                <defs>
                                    <linearGradient
                                        id="gradient3"
                                        x1="0%"
                                        y1="0%"
                                        x2="0%"
                                        y2="100%"
                                    >
                                        <stop
                                            offset="0%"
                                            style="stop-color: #555555; stop-opacity: 0"
                                        />
                                        <stop
                                            offset="28%"
                                            style="stop-color: #555555; stop-opacity: 0"
                                        />
                                        <stop
                                            offset="30%"
                                            style="stop-color: #555555; stop-opacity: 0.2"
                                        />
                                        <stop
                                            offset="80%"
                                            style="stop-color: #555555; stop-opacity: 0.5"
                                        />
                                    </linearGradient>
                                </defs>
                                <defs>
                                    <linearGradient
                                        id="gradient4"
                                        x1="0%"
                                        y1="0%"
                                        x2="0%"
                                        y2="100%"
                                    >
                                        <stop
                                            offset="0%"
                                            style="stop-color: #373939; stop-opacity: 1"
                                        />
                                        <stop
                                            offset="100%"
                                            style="stop-color: #023939; stop-opacity: 1"
                                        />
                                    </linearGradient>
                                </defs>
                            </defs>
                        </svg>
                    </div>
                </div>

                <div class="main_canvas_container dashboard_body_container" style="display: none">
                    <div id="somethingLater">
                        <h1>Dashboard</h1>
                    </div>
                </div>

                <div class="main_canvas_container notebook_body_container" style="display: none">
                    <div id="somethingLater">
                        <h1>Notebook</h1>
                    </div>
                </div>

                <div class="main_canvas_container script_body_container" style="display: none">
                    <div class="script_body_editor" id="somethingLater">
                        <h1
                            style="
                                font-family: 'ubuntu mono';
                                color: #d6d6d6;
                                font-weight: normal;
                                font-size: medium;
                                line-height: 25px;
                                padding: 0px;
                            "
                        >
                            <span
                                style="
                                    width: 50px;
                                    background-image: url(https://user-images.githubusercontent.com/6969514/70970478-6d2ed800-20d9-11ea-822d-3ee010444104.png);
                                    background-size: 24px;
                                    background-repeat: no-repeat;
                                    background-position: center;
                                    height: 54px;
                                    padding: 4px;
                                "
                                >&nbsp;&nbsp;&nbsp;</span
                            >Script Editor
                            <p
                                style="
                                    display: inline;
                                    font-size: x-small;
                                    line-height: 30px;
                                    vertical-align: middle;
                                    margin: 0px;
                                    padding: 0px;
                                "
                            >
                                Theme
                                <select onchange="selectTheme()" id="selectcodestyle">
                                    <option>darcula</option>
                                    <option>3024-day</option>
                                    <option>3024-night</option>
                                    <option>abcdef</option>
                                    <option>ambiance</option>
                                    {% comment %}
                                    <option>ayu-dark</option>
                                    {% endcomment %} {% comment %}
                                    <option>ayu-mirage</option>
                                    {% endcomment %}
                                    <option>base16-dark</option>
                                    <option>base16-light</option>
                                    <option>bespin</option>
                                    <option>blackboard</option>
                                    <option>cobalt</option>
                                    <option>colorforth</option>
                                    <option>dracula</option>
                                    <option>duotone-dark</option>
                                    <option>duotone-light</option>
                                    <option>eclipse</option>
                                    <option>elegant</option>
                                    <option>erlang-dark</option>
                                    <option selected>gruvbox-dark</option>
                                    <option>hopscotch</option>
                                    <option>icecoder</option>
                                    <option>idea</option>
                                    <option>isotope</option>
                                    <option>lesser-dark</option>
                                    <option>liquibyte</option>
                                    <option>lucario</option>
                                    <option>material</option>
                                    <option>material-darker</option>
                                    <option>material-palenight</option>
                                    <option>material-ocean</option>
                                    <option>mbo</option>
                                    <option>mdn-like</option>
                                    <option>midnight</option>
                                    <option>monokai</option>
                                    <option>moxer</option>
                                    <option>neat</option>
                                    <option>neo</option>
                                    <option>night</option>
                                    <option>nord</option>
                                    <option>oceanic-next</option>
                                    <option>panda-syntax</option>
                                    <option>paraiso-dark</option>
                                    <option>paraiso-light</option>
                                    <option>pastel-on-dark</option>
                                    <option>railscasts</option>
                                    <option>rubyblue</option>
                                    <option>seti</option>
                                    <option>shadowfox</option>
                                    <option>solarized dark</option>
                                    <option>solarized light</option>
                                    <option>the-matrix</option>
                                    <option>tomorrow-night-bright</option>
                                    <option>tomorrow-night-eighties</option>
                                    <option>ttcn</option>
                                    <option>twilight</option>
                                    <option>vibrant-ink</option>
                                    <option>xq-dark</option>
                                    <option>xq-light</option>
                                    <option>yeti</option>
                                    <option>yonce</option>
                                    <option>zenburn</option>
                                </select>
                            </p>
                        </h1>
                        <div id="codeBody">
                            {% comment %}
                            <textarea id="script_body_editor">
#Code startedby : {{ def.definition_owner }} at  {{ def.definition_start_date }}: </textarea
                            >
                        </div>
                        {% endcomment %}
                        <form>
                            <textarea id="code" name="code">
#Code started by : {{ def.definition_owner }} at  {{ def.definition_start_date }}
</textarea
                            >
                        </form>

                        <script>
                            var editor = CodeMirror.fromTextArea(document.getElementById('code'), {
                                lineNumbers: true,
                                styleActiveLine: true,
                                matchBrackets: true,
                                indentUnit: 4
                            });
                            var input = document.getElementById('selectcodestyle');

                            function selectTheme() {
                                var theme = input.options[input.selectedIndex].textContent;
                                editor.setOption('theme', theme);
                                location.hash = '#' + theme;
                            }
                            selectTheme();
                            var choice =
                                (location.hash && location.hash.slice(1)) ||
                                (document.location.search &&
                                    decodeURIComponent(document.location.search.slice(1)));
                            if (choice) {
                                input.value = choice;
                                editor.setOption('theme', choice);
                            }
                            CodeMirror.on(window, 'hashchange', function () {
                                var theme = location.hash.slice(1);
                                if (theme) {
                                    input.value = theme;
                                    selectTheme();
                                }
                            });

                            $('.CodeMirror').css('height', '70vh');
                            $('.CodeMirror').each(function (i, el) {
                                el.CodeMirror.refresh();
                            });
                        </script>
                    </div>
                </div>

                <div class="main_canvas_container 3d_body_container" style="display: none">
                    <div id="somethingLater">
                        <h1>3D</h1>
                    </div>
                </div>
            </div>
        </div>

        <div id="textAreaBox" style="display: none">
            <textarea
                id="TextAreaSelector"
                style="background-color: rgba(255, 255, 255, 0.48)"
            ></textarea>
        </div>

        <script>
            function returnHome() {
                homeUrl = "{% url 'home' %}";
                window.location.href = homeUrl;
            }
        </script>

        <div id="TopPropertiesBar">
            <div id="topLeftLogo" onclick="returnHome()">&nbsp;</div>
            <div id="DefName" style="font-family: 'Poppins', sans-serif; font-size: large">
                <span id="logo">&nbsp;</span
                ><span id="DefenitionMainTitle"
                    ><a
                        href="#"
                        onclick="changedefTitle()"
                        id="changeTitleName"
                        guid="{{ def.definition_guid }}"
                        >{{ def.definition_name }}</a
                    > </span
                >-
                <span style="color: #a7a7a7; font-size: small">
                    {{ def.definition_owner }} - {{ def.definition_start_date }}
                    <input type="text" class="additionalData" value="{{ def.definition_guid }}"
                /></span>
            </div>
            <a href="#" id="fileTheDef" class="menubarButtons">File</a>
            <a href="#" id="fileTheDef" class="menubarButtons">Edit</a>
            <a href="#" id="fileTheDef" class="menubarButtons">Help</a>
            <a href="#" id="saveTheDef" class="menubarButtons">Save</a>

            <div id="settingsIcon"><i class="fa fa-cog" aria-hidden="true"></i></div>
            <div id="minimizeUpperBar" style="display: block" onclick="onMinimizeClick()">
                <i id="tominimize" class="fa fa-caret-up" aria-hidden="true"></i>
            </div>
            <div id="maximizeUpperBar" style="display: none" onclick="onMaximizeClick()">
                <i
                    id="tomaximize"
                    class="fa fa-caret-up"
                    aria-hidden="true"
                    style="transform: rotate(180deg)"
                ></i>
            </div>
        </div>
        {% comment %} todo .. this part should be automated later .. {% endcomment %}

        <div id="LeftPropertiesBar">
            {% for panel in panels %}
            <div id="leftbarcontainer">
                <div id="toolbar_container_1" class="toolBarContainer 1">
                    <div id="toolbar_container_1_1" class="toolBarContainer 1 1">
                        <div id="toolbar_container_1_1_1" class="toolbarTopToggleContainer">
                            {% for tab in tabs %} {% if tab.tab_panel == panel%} {% if tab.tab_order
                            == 0 %}
                            <div class="toolbarTopToggleItem 1">
                                <div
                                    class="toptoggleitem {{ panel.panel_guid }} {{ tab.tab_guid }} selected"
                                    onclick="showThisPanel('{{ panel.panel_guid }}', '{{ tab.tab_guid }}')"
                                >
                                    {{tab.tab_name}}
                                </div>
                            </div>
                            {% else %}
                            <div class="toolbarTopToggleItem 1">
                                <div
                                    class="toptoggleitem {{ panel.panel_guid }} {{ tab.tab_guid }}"
                                    onclick="showThisPanel('{{ panel.panel_guid }}', '{{ tab.tab_guid }}')"
                                >
                                    {{tab.tab_name}}
                                </div>
                            </div>
                            {% endif %} {% endif %} {% endfor %}
                        </div>
                    </div>
                    {% for tab in tabs %} {% if tab.tab_panel == panel %} {% if tab.tab_order == 0%}
                    <div
                        id="toolbar_container_1_2"
                        class="TabToolBox {{ panel.panel_guid }} {{ tab.tab_guid }}"
                    >
                        {% if tab.tab_toolbox_toggle_direction == 0 %}
                        <div id="toolbar_container_1_2_2" class="toolbarRightToggleNavigator">
                            {% for category in tab.tab_toobox_category.all %}
                            <div
                                class="rightToggleButton 1"
                                style="background-image:url({{category.category_icon_url}})"
                                onclick="setCurrentCagegory('{{panel.panel_guid}}', '{{category.category_guid}}', '{{category.category_name}}')"
                            >
                                <span id="hint">{{ category }}</span>
                            </div>
                            {% endfor %}
                        </div>
                        {% elif tab.tab_toolbox_toggle_direction == -1 %}
                        <div id="toolbar_container_1_2_2" class="toolbarRightToggleNavigator">
                            {{tab.tab_name}}
                        </div>
                        {% endif %}
                        <div id="toolbar_container_1_2_0" class="toolbarbuttonsContainer">
                            &nbsp; {{tab.tab_name}} >
                            <span class="currentTab {{panel.panel_guid}}">&nbsp;</span> {% comment
                            %} Components > Standard heirarchial tree to be added {% endcomment %}
                        </div>
                        {% for cat in tab.tab_toobox_category.all %} {% if cat.category_isdefault %}
                        <div
                            id="toolbar_container_1_2_1"
                            class="toolbarbuttonsContainer {{panel.panel_guid}} {{ cat.category_guid }} {{cat.category_order}}"
                        >
                            {% if cat.category_name == "Main Inputs" %}
                            <div
                                id="addSlider"
                                class="mainButtonItem 1 1"
                                style="
                                    background-image: url(https://image.flaticon.com/icons/png/512/983/983840.png);
                                "
                            >
                                &nbsp;<span id="hint">Slider</span>
                            </div>
                            <div
                                id="addString"
                                class="mainButtonItem 1 1"
                                style="
                                    background-image: url(https://storage.googleapis.com/ghostbucket111/icons/main_icons/2274978.png);
                                "
                            >
                                &nbsp;<span id="hint">Panel</span>
                            </div>
                            <div
                                id="addToggle"
                                class="mainButtonItem 1 1"
                                style="
                                    background-image: url(https://image.flaticon.com/icons/png/512/1465/1465907.png);
                                "
                            >
                                &nbsp;<span id="hint">Toggle</span>
                            </div>
                            <div
                                id="addOptionList"
                                class="mainButtonItem 1 1"
                                style="
                                    background-image: url(https://image.flaticon.com/icons/png/512/1085/1085805.png);
                                "
                            >
                                &nbsp;<span id="hint">Option list</span>
                            </div>
                            <div
                                id="addListView"
                                class="mainButtonItem 1 1"
                                style="
                                    background-image: url(https://storage.googleapis.com/ghostbucket111/icons/main_icons/checklist.png);
                                "
                            >
                                &nbsp;<span id="hint">List view</span>
                            </div>
                            <div
                                id="addFile"
                                class="mainButtonItem 1 1"
                                style="
                                    background-image: url(https://image.flaticon.com/icons/png/512/2329/2329379.png);
                                "
                            >
                                &nbsp;<span id="hint">File upload</span>
                            </div>
                            {% else %} {% for ud in udo %} {% if ud.component_category == cat %} {%
                            if ud.component_icon_url == "" %}
                            <div
                                id="addComp"
                                name="{{ud.component_name}}"
                                shName="{{ ud.component_shortName }}"
                                desc="{{ ud.component_description }}"
                                type="{{ ud.component_type }}"
                                dftype="{{ ud.component_dataflow_type }}"
                                class="mainButtonItem 1 1"
                                style="background-image:url({{ ud.component_icon_url }})"
                            >
                                {{ ud }}
                            </div>
                            {% else %}
                            <div
                                id="addComp"
                                name="{{ud.component_name}}"
                                shName="{{ ud.component_shortName }}"
                                desc="{{ ud.component_description }}"
                                type="{{ ud.component_type }}"
                                dftype="{{ ud.component_dataflow_type }}"
                                class="mainButtonItem 1 1"
                                style="background-image:url({{ ud.component_icon_url }})"
                            >
                                &nbsp;<span id="hint">{{ ud }}</span>
                            </div>
                            {% endif %} {% endif %} {% endfor %} {% endif %}
                        </div>
                        {% else %}
                        <div
                            id="toolbar_container_1_2_1"
                            class="toolbarbuttonsContainer {{panel.panel_guid}} {{ cat.category_guid }} {{cat.category_order}}"
                            style="display: none"
                        >
                            {% for ud in udo %} {% if ud.component_category == cat %} {% if
                            ud.component_icon_url == "" %}
                            <div
                                id="addComp"
                                name="{{ud.component_name}}"
                                shName="{{ ud.component_shortName }}"
                                desc="{{ ud.component_description }}"
                                type="{{ ud.component_type }}"
                                dftype="{{ ud.component_dataflow_type }}"
                                class="mainButtonItem 1 1"
                                style="background-image:url({{ ud.component_icon_url }})"
                            >
                                {{ ud }}
                            </div>
                            {% else %}
                            <div
                                id="addComp"
                                name="{{ud.component_name}}"
                                shName="{{ ud.component_shortName }}"
                                desc="{{ ud.component_description }}"
                                type="{{ ud.component_type }}"
                                dftype="{{ ud.component_dataflow_type }}"
                                class="mainButtonItem 1 1"
                                style="background-image:url({{ ud.component_icon_url }})"
                            >
                                &nbsp;<span id="hint">{{ ud }}</span>
                            </div>
                            {% endif %} {% endif %} {% endfor %}
                        </div>
                        {% endif %} {% endfor %} {% if tab.tab_toolbox_toggle_direction == 1 %}
                        <div id="toolbar_container_1_2_2" class="toolbarRightToggleNavigator">
                            {% for category in tab.tab_toobox_category.all %}
                            <div
                                class="rightToggleButton 1"
                                style="background-image:url({{category.category_icon_url}})"
                                onclick="setCurrentCagegory('{{panel.panel_guid}}', '{{category.category_guid}}', '{{category.category_name}}')"
                            >
                                <span id="hint">{{ category }}</span>
                            </div>
                            {% endfor %} {% endif %}
                        </div>
                    </div>

                    {% else %}
                    <div
                        id="toolbar_container_1_2"
                        class="TabToolBox {{ panel.panel_guid }} {{ tab.tab_guid }}"
                        style="display: none"
                    >
                        {% if tab.tab_toolbox_toggle_direction == 0 %}
                        <div id="toolbar_container_1_2_2" class="toolbarRightToggleNavigator">
                            {% for category in tab.tab_toobox_category.all %}
                            <div
                                class="rightToggleButton 1"
                                style="background-image:url({{category.category_icon_url}})"
                                onclick="setCurrentCagegory('{{panel.panel_guid}}', '{{category.category_guid}}', '{{category.category_name}}')"
                            >
                                <span id="hint">{{ category }}</span>
                            </div>
                            {% endfor %}
                        </div>
                        {% elif tab.tab_toolbox_toggle_direction == -1 %}
                        <div id="toolbar_container_1_2_2" class="toolbarRightToggleNavigator">
                            {{tab.tab_name}}
                        </div>
                        {% endif %}
                        <div id="toolbar_container_1_2_0" class="toolbarbuttonsContainer">
                            &nbsp; {{tab.tab_name}} >
                            <span class="currentTab {{panel.panel_guid}}">&nbsp;</span> {% comment
                            %} Components > Standard heirarchial tree to be added {% endcomment %}
                        </div>
                        {% for cat in tab.tab_toobox_category.all %} {% if cat.category_isdefault %}
                        <div
                            id="toolbar_container_1_2_1"
                            class="toolbarbuttonsContainer {{panel.panel_guid}} {{ cat.category_guid }} {{cat.category_order}}"
                        >
                            {% for ud in udo %} {% if ud.component_category == cat %}
                            <div class="mainButtonItem 1 1">{{ ud }}</div>
                            {% endif %} {% endfor %}
                        </div>
                        {% else %}
                        <div
                            id="toolbar_container_1_2_1"
                            class="toolbarbuttonsContainer {{panel.panel_guid}} {{ cat.category_guid }} {{cat.category_order}}"
                            style="display: none"
                        >
                            {% for ud in udo %} {% if ud.component_category == cat %}
                            <div class="mainButtonItem 1 1">{{ ud }}</div>
                            {% endif %} {% endfor %}
                        </div>
                        {% endif %} {% endfor %} {% if tab.tab_toolbox_toggle_direction == 1 %}
                        <div id="toolbar_container_1_2_2" class="toolbarRightToggleNavigator">
                            {% for category in tab.tab_toobox_category.all %}
                            <div
                                class="rightToggleButton 1"
                                style="background-image:url({{category.category_icon_url}})"
                            >
                                <span id="hint">{{ category }}</span>
                            </div>
                            {% endfor %}
                        </div>
                        {% endif %}
                    </div>
                    {% endif %} {% endif %} {% endfor %}
                </div>
            </div>
            {% endfor %}
        </div>

        <div id="LeftPropertiesBarSelector"></div>
        <div
            id="PropertiesBar"
            style="width: 50px; min-width: 250px; top: 60px; padding-left: 5px; padding-top: 5px"
        >
            <div class="componentsCategory">
                <div class="ccatheader">
                    <span id="customcomponentarrow"
                        ><i class="fa fa-chevron-circle-down" aria-hidden="true"></i
                    ></span>
                    Properties
                </div>
                <div class="ccbody" id="propertiesBarContents" style="width: 100%"></div>
            </div>
        </div>

        <script>
            // TODO :   panel Id should be added here .
            function showThisPanel(panel_id, id) {
                var allTabs = $("div.TabToolBox." + panel_id);
                for (i = 0; i < allTabs.length; i++) {
                    if (allTabs[i].classList[1] == panel_id & allTabs[i].classList[2] == id) {
                        $("div.TabToolBox." + panel_id + "." + id).show();
                        $("div.toptoggleitem." + panel_id + "." + id).addClass('selected');
                    } else {
                        $("div.TabToolBox." + panel_id + "." + allTabs[i].classList[2]).hide();
                        $("div.toptoggleitem." + panel_id + "." + allTabs[i].classList[2]).removeClass('selected');
                    }
                }
            }

            function setCurrentCagegory(panel_id, id, name) {
                var toolbarbuttonsContainer = $("div.toolbarbuttonsContainer." + panel_id);
                for (i = 0; i < toolbarbuttonsContainer.length; i++) {
                    if (toolbarbuttonsContainer[i].classList[2] == id) {
                        $("div.toolbarbuttonsContainer." + panel_id + "." + id).show();
                        $("span.currentTab." + panel_id).text(name) // <span class="currentTab {{panel.panel_guid}}">&nbsp;</span>
                    } else {
                        $("div.toolbarbuttonsContainer." + panel_id + "." + toolbarbuttonsContainer[i].classList[2]).hide();
                    }
                }
            }

            function displayCanvasBody(classname) {
                var canvases = $("div.main_canvas_container");
                console.log(canvases)

                for (i = 0; i < canvases.length; i++) {
                    if (canvases[i].classList[1] == classname) {
                        $("div.main_canvas_container." + classname).show();
                    } else {
                        $("div.main_canvas_container." + canvases[i].classList[1]).hide();
                    }
                }
            }


            $(document).ready(function() {
                var myTextArea = document.getElementById("script_body_editor");
                var myCodeMirror = CodeMirror.fromTextArea(myTextArea, {
                    lineNumbers: true,
                    mode: "python",
                    indentUnit: 4
                });
            })



            window.onbeforeunload = function() {
                return 'Are you sure you want to leave?';
            };

            var csrftoken = '{{ csrf_token }}';
            RetrievedData = {{def.definition_user_saved | safe}};
            let udo_names = [];
            let udo_types = [];
            let udo_desc = [];
            let udo_shortNames = [];
            let udo_inputs = [];
            let udo_outputs = [];
            let udo_fill = [];
            let udo_dftypes = [];
            let udo_cats = [];
            let udo_subcats = [];

            let cats = {};
            let scats = {};

            {%for c in categories %}
            cats["{{c.category_name}}"] = "{{c.category_color}}"

            {% endfor %}

            {%for sc in subCategories %}
            scats["{{sc.subcategory_name}}"] = "{{sc.subcategory_color}}"
            {% endfor %}

            {% for u in udo %}
            udo_names.push("{{ u.component_name }}");
            udo_types.push("{{ u.component_type }}");
            udo_desc.push(`{{u.component_description|safe}}`);
            udo_inputs.push({{u.component_inputs | safe}});
            udo_shortNames.push("{{ u.component_shortName }}");
            udo_outputs.push({{u.component_outputs | safe}});
            udo_fill.push("{{ u.component_fill }}");
            udo_dftypes.push("{{u.component_dataflow_type}}");
            udo_cats.push("{{u.component_category}}");
            udo_subcats.push("{{u.component_sub_category}}");
            {% endfor %}

            // console.log(cats)

            //console.log(RetrievedData);
            //console.log(udo_dftypes);
            //console.log(udo_shortNames);


            let editUrl = "{% url 'def_edit' %}";
            let thisDefId = "{{ def.definition_guid }}";
            let saveUrl = "{% url 'def'%}"
            let gotoTheMoon = "{% url 'deep' %}"
        </script>
        <script src="{% static '/base/js/earcut.js' %}"></script>
        <script src="{% static '/base/js/3dViewer.js' %}"></script>
        <script src="{% static '/base/js/jsonview.js' %}"></script>
        <script src="{% static '/base/js/constants.js' %}"></script>
        <script src="{% static '/base/js/functions.js' %}"></script>
        <script src="{% static '/base/js/component.js' %}"></script>
        <script src="{% static '/base/js/slider.js' %}"></script>
        <script src="{% static '/base/js/string.js' %}"></script>
        <script src="{% static '/base/js/toggle.js' %}"></script>
        <script src="{% static '/base/js/fileUpload.js' %}"></script>
        <script src="{% static '/base/js/optionlist.js' %}"></script>
        <script src="{% static '/base/js/listView.js' %}"></script>
        <script src="{% static '/base/js/shallow.js' %}"></script>
        <script src="{% static '/base/js/deep.js' %}"></script>
        <script src="{% static '/base/js/mainGrid.js' %}"></script>
        <script src="{% static '/base/js/layout.js' %}"></script>
        <script src="{% static '/base/js/ontology.js' %}"></script>
        <script src="{% static '/base/js/ontologyComponent.js' %}"></script>

        <script src="{% static '/base/js/inits.js' %}"></script>
    </body>
</html>
